:root {
  --color-navigation: #4e4e4e;
  --color-footer: #4e4e4e;
  --color-secondary: #405d78;
  --color-circle: #e07a64;
  --color-red: #ff0000;
  --color-red-opacity-1: #ff00004d;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #f1f1f1;
  --color-shadow: #00000026;
}
* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.container {
  width: 960px;
  margin: 0 auto;
}
/*header start*/
.header {
  height: 70px;
  background-color: var(--color-navigation);
}
.headerContainer {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}

.logoAtHeaderContainer {
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  text-align: left;
}

.headerNav {
  display: flex;
  align-items: center;
}
.headerNavList {
  display: flex;
  align-items: center;
}
.navLink {
  font-weight: 700;
  text-transform: uppercase;
  padding: 26px 0px 26px;
  font-size: 1rem;
  line-height: 1.375em;
  border-bottom: 4px solid transparent;
  letter-spacing: 0.1875rem;
  color: var(--color-white);
}
.navLink:hover {
  background-color: var(--color-black-opacity-2);
}
.navElement {
  padding: 0 26px;
}

.contactButton {
  cursor: not-allowed;
}

/*header finish*/
/*landingPage start*/
.landingPage {
  height: calc(100vh - 70px);
  background-image: url(../assets/first_side_photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
}
.landingPage::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-black);
  opacity: 0.4;
}
/*landingPage finish*/
/* pageBanner start */

.pageBannerContainer {
  flex-grow: 1;
  position: relative;
  color: var(--color-white);
  text-align: start;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 100px 20px;
}
.pageBannerTitle {
  width: 577px;
  height: 46.11px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}
.pageBannerDescription {
  margin-top: 70px;
  font-weight: 700;
  font-size: 18px;
}
.pageBannerLink {
  width: 164px;
  height: 40px;

  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  border: solid 3px var(--color-primary);
  justify-content: center;

  color: var(--color-white);
  transition: 1s;
}
.pageBannerLink:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}
/* pageBanner finish */

/*footer start */
.footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: var(--color-footer);
}
.footerContainer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}

.logoAtFooterContainer {
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  text-align: left;
}

.footerContainerMediaIcons {
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
  font-size: 36px;
  background-color: var(--color-footer);
}
.fa-brands {
  background-color: var(--color-footer);
  color: var(--color-white);
  font-size: 36px;
  padding-right: 10px;
}
/* footer finish */
