:root {
  --color-navigation: #4e4e4e;
  --color-footer: #4e4e4e;
  --color-secondary: #405d78;
  --color-circle: #e07a64;
  --color-red: #ff0000;
  --color-red-opacity-1: #ff00004d;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #f1f1f1;
  --color-shadow: #00000026;
}
* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.pageContainer {
  height: calc(100vh - 70px);
  background-image: url(../assets/first_side_photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
}
.pageContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-black);
  opacity: 0.4;
}

/* stylowanie banneru
*/
.pageBanner {
  flex-grow: 1;
  position: relative;
  color: var(--color-white);
  text-align: start;
  display: flex;
}
.pageBanner > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 100px 20px;
}
.pageBannerTitle {
  width: 577px;
  height: 46.11px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}
.pageBannerDescription {
  margin-top: 70px;
  font-weight: 700;
  font-size: 18px;
}
.pageBannerLink {
  width: 164px;
  height: 40px;

  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  border: solid 3px var(--color-primary);
  justify-content: center;

  color: var(--color-white);
  transition: 1s;
}
.pageBannerLink:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

/* oferta */

/*
.pageBanner {
  flex-grow: 1;
  position: relative;
  color: var(--color-white);
  text-align: start;
  display: flex;
}
.pageBanner > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
}
.pageBannerTitle {
  position: absolute;
  width: 577px;
  height: 46.11px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.pageBannerDescription {
  margin-top: 40px;
  font-weight: 700;
  font-size: 18px;
  width: 276px;
  line-height: 21px;
  height: 23.13px;
  top: -12.71px;
  left: -236px;
  gap: 0px;
  opacity: 0px;
}
.pageBannerLink {
  display: inline-block;
  width: 60px;
  margin-top: 54px;
  padding: 22px 55px;
  border: px solid var(--color-white);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  text-transform: lowercase;

  color: --color-white;
  justify-content: center;

  transition: 1s;
}
.pageBannerLink:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

/* Nasza firma oferuje najwyższej jakości produkty. */
